.mainContainer {


  width: 50%;
  margin-top: 6%;
  margin-right: auto;
  margin-left: auto;
  background-color: hsl(0, 0%, 100%);
  border-radius: 8px;
}
.coverImage {


width: 90%;
margin-right: auto;
margin-left: auto;
padding-top: 70px;

}

.coverImage img {

  width: 90%;
  height: auto;
  display: block;

  margin-right: auto;
  margin-left: auto;
  border-radius: 8px;
}
.introduce {

  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 16px;
  margin-top: 2%;
  margin-right: auto;
  margin-left: auto;
}
.introduce h1 {

  font-weight: 600;
}

.introduce p {

  color: hsl(30, 10%, 34%);
  font-size: 16px;
  font-weight: 400;
  
}
.preparation {

  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  background-color: hsl(330, 100%, 98%);
  border-radius: 4px;
  margin-top: 3%;
  padding: 28px;
  
}
.preparation h2 {

    font-size: large;
    font-weight: 700;
    color: hsl(332, 51%, 32%);
}
.preparation ul {

 
  padding-left: 4%;
}

.preparation li {


  padding-left: 1%;
  color: hsl(30, 10%, 34%);
  margin-top: 1%;
}


/* Mobile responsive */

@media only screen and (max-width: 750px) {
  .mainContainer {
margin-top: 0;
   width: 100%;
  }
}
@media only screen and (max-width: 750px) {
  .coverImage {

   padding-top: 0;
   width: 100%;
  }
}
@media only screen and (max-width: 750px) {
  .coverImage img {

 border: 1px red;
   width: 100%;
  }
}